# This workflow will run tests using node and then publish a package to npm after CI tests pass
# For more information see: https://docs.npmjs.com/generating-provenance-statements

name: light-auth CI Pipeline

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v2
        with:
          version: 9 
      - run: pnpm install
      - run: pnpm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write 
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'
      
      - run: pnpm install
      
      - run: pnpm publish --access public --no-git-checks --provenance
        env:
          NPM_CONFIG_PROVENANCE: true